@CHARSET "ISO-8859-1";

/*  # = id, . = class */ /* top right bottom left */
body {
	font-family: Arial;
	font-size: 12px;
	margin: 0px 0px 0px 5px;
}

form {
	margin: 0px;
	padding: 0px;
}

div {
	margin: 0px;
	padding: 0px;
}

/**********************
* BASE
**********************/
#base_table {
	border-collapse: collapse;
	width: 100%;
	height: 90%;
	vertical-align: top;
	padding: 0px;
}

#bridge_charts {
	border: 1px solid #c6d5ff;
}

#selected_station {
	font-size: 16px;
	padding-bottom:8px;
}


/**********************
* HEADER
**********************/
#header_table {
	border-collapse: collapse;
	padding: 0px;
	width: 100%;
}

#header_table tr {
	background-color: #0049B2;
	color: white;
}

#header_table td {
	vertical-align: middle;
}

#app_name {
	font-size: 18px;
	color: white;
	text-align: center;
}

#reset {
	padding: 0px 4px 0px 50px; 
	text-align: right;
	vertical-align: middle;
}

#reset a {
	text-decoration: none;
}

#reset img { 
}

/**********************
* max_wind
**********************/
#space_max_wind {
		vertical-align: middle;
		text-align: center;
}


#max_wind {
			margin: 0px 20px 0px 20px;
}

#max_wind td.digit {
	font-size: 28px;
	width: 44px;
	text-align: center;
}

#max_wind .normal_wind {
		background-color: #c6d5ff;
}

/**********************
* minute table
**********************/

#space_minute_table {
	margin: 0px 0px 0px 20px;
	height: 320px;
	width: 240px;
	overflow: auto;
	border: 1px solid #c6d5ff;
}


#minute_table {
	font-size: 11px;
	width: 100%;
}

#minute_table td {
	text-align: center;
}

#minute_table .name_col {
	background-color: #0049B2;
	color: white;
}

#minute_table .dtg_col {
	background-color: #0049B2;
	color: white;
}

#minute_table .val_col {
	width: 22px;
	color: white;
	background-color: #0049B2;
}

#minute_table .dtg_val {
	width: 60px;
	/* border-left: 1px solid #0049B2; */
}

#minute_table td .unknown {
	color: #808080;
}

#minute_table td .w_dd {
	color: #FF0000;
}

/**********************
* ALARM
**********************/
#space_tabs {
	height: 320px;
	width: 330px;
  	margin:  0px 0px 0px 0px;
}


.space_alarm_table {
	overflow: auto;
	height: 100%;
}

.alarm_table {
	font-size: 11px;
}

.alarm_table td {
	border-bottom: 1px solid #c6d5ff;
}

.alarm_table .val_col {
	color: white;
	background-color: #0049B2;
}

.alarm_table .status_col {
	color: white;
	background-color: #0049B2;
}

.alarm_table .dtg_col {
	color: white;
	background-color: #0049B2;
}

.alarm_table .status_cell {
	/* border-left: 1px solid #0049B2; */
}

.warning_title {
	font-size: 10px;
	color: #0049B2;
	padding: 0px;
}

.warning {
	background-color: red;
	color: white;
}

.warning_orange {
	background-color: #ee6a00;
	color: white;
}

.warning_gray {
	background-color: #dddddd;
}


.ui-tabs .ui-tabs-panel {
    padding: 1em 0;
}

#space_beep {
	text-align: center;
}

#space_beep img {
	border: 0px;
}

#legend {
	vertical-align: top;
	background-color: #f8f8f8;
}

#legend_table td {
		text-align: center;
}

#legend_table .limit_header {
	background-color: #dddddd;
	padding-left: 10px;
}

#legend_table .limit_legend {

}

#data_page {
	width: 980px;
}

/**********************
* GOOGLE MAP
**********************/
#map_page {
}

#map {
}

/**********************
* GENERAL
**********************/
.unknown_wind {
	background-color: #a8a8a8;
}

.w_wind {
	background-color: #ffb400;
}

.ww_wind {
	background-color: #ff4e00;
}

.www_wind {
	background-color: #aa00c9;
}

.w_dd {
	background-color: #ffb400;
}


.wind_label {
	background-color: white;
	border: 1px solid #0049B2;
}

.timed_out {
	background-color: #ff0000;
	border: 8px;
}
